################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SM-Post/.vs/SM-Post/FileContentIndex/fcb7854b-66d4-4745-88af-43257d372bc9.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/e7609756-c30c-465f-b554-23d369a4b42e.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/d8c4a38e-e510-42c6-aa9d-2d20e5caf39f.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/c220bac6-3895-4d35-aa30-4c86bf03e5ad.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/c0fcb1e8-c57a-4445-a63f-07cbe39e5605.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/930b17e1-565f-4df4-a2ca-ba7af7d47e6e.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/879ba509-4463-4718-bea6-6039933bdad5.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/44b7ee9d-97b6-4f72-baaa-6d42fc26baa1.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex
/SM-Post/.vs/SM-Post/v17/.suo
/SM-Post/.vs/SM-Post/DesignTimeBuild/.dtbcache.v2
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.assets.cache
