################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SM-Post/.vs/SM-Post/FileContentIndex/fcb7854b-66d4-4745-88af-43257d372bc9.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/e7609756-c30c-465f-b554-23d369a4b42e.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/d8c4a38e-e510-42c6-aa9d-2d20e5caf39f.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/c220bac6-3895-4d35-aa30-4c86bf03e5ad.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/c0fcb1e8-c57a-4445-a63f-07cbe39e5605.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/930b17e1-565f-4df4-a2ca-ba7af7d47e6e.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/879ba509-4463-4718-bea6-6039933bdad5.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex/44b7ee9d-97b6-4f72-baaa-6d42fc26baa1.vsidx
/SM-Post/.vs/SM-Post/FileContentIndex
/SM-Post/.vs/SM-Post/v17/.suo
/SM-Post/.vs/SM-Post/DesignTimeBuild/.dtbcache.v2
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.assets.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/bin/Debug/net7.0
/SM-Post/Post.Cmd/Post.Cmd.Domain/bin/Debug/net7.0
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/ref
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/refint
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.pdb
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.dll
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.csproj.FileListAbsolute.txt
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.csproj.CoreCompileInputs.cache
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.csproj.CopyComplete
/SM-Post/Post.Cmd/Post.Cmd.Domain/obj/Debug/net7.0/Post.Cmd.Domain.csproj.AssemblyReference.cache
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/bin/Debug/net7.0
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/ref
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/refint
/CQRS-ES/CQRS.Core/bin/Debug/net7.0
/CQRS-ES/CQRS.Core/obj/Debug/net7.0
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.pdb
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.dll
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.csproj.FileListAbsolute.txt
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.csproj.CoreCompileInputs.cache
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.csproj.CopyComplete
/SM-Post/Post.Cmd/Post.Cmd.Infrastructure/obj/Debug/net7.0/Post.Cmd.Infrastructure.csproj.AssemblyReference.cache
/SM-Post/Post.Common/bin/Debug/net7.0
/SM-Post/Post.Common/obj/Debug/net7.0/ref
/SM-Post/Post.Common/obj/Debug/net7.0/refint
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.pdb
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.GeneratedMSBuildEditorConfig.editorconfig
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.dll
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.csproj.FileListAbsolute.txt
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.csproj.CoreCompileInputs.cache
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.csproj.CopyComplete
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.csproj.AssemblyReference.cache
/SM-Post/Post.Common/obj/Debug/net7.0/Post.Common.assets.cache
/SM-Post/Post.Query/Post.Query.Api/bin/Debug/net7.0
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Post.Query.Api.props
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Post.Query.Api.props
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/staticwebassets/msbuild.build.Post.Query.Api.props
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/staticwebassets
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/refint/Post.Query.Api.dll
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/refint
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/ref/Post.Query.Api.dll
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/ref
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/staticwebassets.build.json
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.pdb
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.MvcApplicationPartsAssemblyInfo.cache
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.genruntimeconfig.cache
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.GeneratedMSBuildEditorConfig.editorconfig
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.dll
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.csproj.FileListAbsolute.txt
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.csproj.CoreCompileInputs.cache
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.csproj.CopyComplete
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.csproj.AssemblyReference.cache
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.assets.cache
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/apphost.exe
/SM-Post/Post.Query/Post.Query.Api/obj/Debug/net7.0/Post.Query.Api.MvcApplicationPartsAssemblyInfo.cs
/SM-Post/Post.Query/Post.Query.Domain/bin/Debug/net7.0
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/ref
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/refint
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.pdb
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.dll
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.csproj.FileListAbsolute.txt
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.csproj.CoreCompileInputs.cache
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.csproj.CopyComplete
/SM-Post/Post.Query/Post.Query.Domain/obj/Debug/net7.0/Post.Query.Domain.csproj.AssemblyReference.cache
/SM-Post/Post.Query/Post.Query.Infrastructure/bin/Debug/net7.0
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/refint/Post.Query.Infrastructure.dll
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/refint
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/ref/Post.Query.Infrastructure.dll
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/ref
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.pdb
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.dll
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.csproj.FileListAbsolute.txt
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.csproj.CoreCompileInputs.cache
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.csproj.CopyComplete
/SM-Post/Post.Query/Post.Query.Infrastructure/obj/Debug/net7.0/Post.Query.Infrastructure.csproj.AssemblyReference.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/ref
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/refint
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/staticwebassets
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/staticwebassets.build.json
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.pdb
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.MvcApplicationPartsAssemblyInfo.cs
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.MvcApplicationPartsAssemblyInfo.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.genruntimeconfig.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.dll
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.csproj.FileListAbsolute.txt
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.csproj.CoreCompileInputs.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.csproj.CopyComplete
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.csproj.AssemblyReference.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/Post.Cmd.Api.assets.cache
/SM-Post/Post.Cmd/Post.Cmd.Api/obj/Debug/net7.0/apphost.exe
/SM-Post/.vs/ProjectEvaluation/sm-post.metadata.v6.1
/SM-Post/.vs/ProjectEvaluation/sm-post.projects.v6.1
/SM-Post/.vs/SM-Post/v17/.futdcache.v2
/SM-Post/.vs/SM-Post/v17/HierarchyCache.v1.txt
